.speech{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:16px;
    text-decoration: solid;
    text-indent: 15px;
}
.direction{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    text-decoration: solid;
    text-decoration-color: aquamarine;
    text-indent: 20px;
}
.direction:hover{

    background-color: azure;
    color:blue;
}
.name{
    color:red;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
}
.cotton{
    color:coral;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
 .betty:hover{
    background-color: azure;
    color:violet;
    text-shadow: 2px 2px blue;
} 
.cotton:hover{
    text-shadow: 2px 2px brown;
    background-color: azure;
    color:violet;
}

h6:hover {
    text-shadow: 20px 20px 30px gray;
    border-bottom: black solid;
    font-size: 30px;
} 
.betty{
    color:orange;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.adonijah{
    color:blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.charles{
    color:blueviolet;
    font-family:'Times New Roman', 'Times New Roman', Times, serif;
    font-size: 20px;
}
table, th, td {
    padding:10px;
    border: 1px solid black;
    border-collapse:collapse;
  }
  
  tr:nth-child(even) {
    background-color: blue;
  }
  tr:nth-child(odd) {
    background-color: violet;
  }
  
  th:nth-child(even),td:nth-child(even) {
    background-color: yellow
  }
  navbar-horizontal {
  
    list-style-type: none;
    margin: 1;
    padding: 1;
    background-origin: padding-box;
    color: orange;
    }
    ul.navbar-horizontal li {
    float:left; 
    color:white;
    background-color:blue;
   
    }
    .navbar-horizontal a {
    display:block;
    padding: 15px;
    color: orange;
    }

    .navbar-horizontal a:hover {  
    background-color:violet;
    color:red;
    }